
<html>
    <head>
        <title>Denise's Blog</title>
    </head>

    <body>
        <div>
            <h1><a href=""> Denise's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Marido ruim ca muieri</p>         
            <p>published: 10.10.2016, 23:00</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>Marido ruim ca muieri memo!!!</p>
            <p>published: 10.10.2016, 23:15</p>
        </div>

        <div>
            <h2><a href="">My third post</a></h2>
            <p>Mas por que que o marido ruim ca muieri???</p>
            <p>published: 10.10.2016, 23:20</p>
        </div>

        <div>
            
            <h2><a href="">My 4rd post</a></h2>
            <p>Porque o marido É ruim memo...</p>
            <p>published: 10.10.2016, 23:15</p>
        </div>
    </body>
</html>


